.IncrementalSpinnerDemo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.IncrementalSpinnerDemo > div {
  margin: 5px;
}

.IncrementalSpinnerDemoSpinnerColumn {
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.IncrementalSpinnerDemoSpinnerColumn > div {
  margin: 5px 0;
}
